
.tokyo_tm_home {
    width: 100%;
    min-height: 100vh;
    clear: both;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .tokyo_tm_home .home_content {
    display: flex;
    align-items: center;
  }
  .tokyo_tm_home .avatar {
    min-width: 425px;
    min-height: 450px;
    position: relative;
    border-radius: 100%;
  }
  .tokyo_tm_home .avatar .image {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    overflow: hidden;
  }

  .tokyo_tm_home .details {
    margin-left: 80px;
  }

  .tokyo_tm_home .details .name {
    font-size: 55px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 19px;
  }
  .tokyo_tm_home .details .job {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 400;
    max-width: 450px;
    margin-bottom: 30px;
  }


/*---------------------------------------------------*/
/* MEDIA QUERIES - FOR SMALL DEVIVES
/*---------------------------------------------------*/

@media (max-width: 1600px) {}

@media (max-width: 1200px) {}

@media (max-width: 1040px) {

    .tokyo_tm_home .home_content {
        flex-direction: column;
        text-align: center;
      }
      .tokyo_tm_home .avatar {
        margin-bottom: 30px;
      }
      .tokyo_tm_home .details {
        margin-left: 0px;
      }
}

@media (max-width: 767px) {
    .tokyo_tm_home .details .name {
        font-size: 35px;
      }
      .tokyo_tm_home .avatar {
        min-width: 400px;
        min-height: 400px;
      }

      .tokyo_tm_home .details .job {
        font-family: "Poppins";
        font-style: italic;
        font-weight: 400;
        max-width: 340px;
        margin-bottom: 45px;
      }
    
    
}