.tokyo_tm_title {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  margin-bottom: 62px;
}

.tokyo_tm_title h3 {
  font-weight: 300;
  font-family: "Poppins";
}

.tokyo_tm_title span {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.04);
  text-transform: uppercase;
  padding: 4px 10px;
  font-weight: 600;
  font-size: 12px;
  color: #333;
  font-family: "Poppins";
  letter-spacing: 0px;
  margin-bottom: 15px;
}

.tokyo_tm_title .title_flex {
  width: 100%;
  height: auto;
  clear: both;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.series_title {
  width: 100%;
  height: auto;
  clear: both;
  padding-bottom: 25px;
  display: flex;

  align-items: flex-end;
}

.tokyo_tm_portfolio .portfolio_filter {
  margin: 0px;
  list-style-type: none;
}

.tokyo_tm_portfolio .portfolio_filter li {
  margin: 0px 25px 0px 0px;
  text-decoration: none;
  color: #767676;
  display: inline-block;
  font-weight: 500;
  font-family: "Poppins";
  transition: all 0.3s ease;
  cursor: pointer;
  @media screen and (max-width: 767px) {
    margin: 0px 15px 0px 0px;
  } 
}

.tokyo_tm_portfolio .portfolio_filter li:last-child {
  margin-right: 0px;
}

.tokyo_tm_portfolio .portfolio_filter li:hover,
.tokyo_tm_portfolio .portfolio_filter li {
  color: #000;
  letter-spacing: 2px;
}

.tokyo_tm_portfolio .list_wrapper {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}

.tokyo_tm_portfolio {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  padding: 100px 0px 50px 0px;

  position: relative;
}

.tokyo_tm_portfolio .portfolio_list {
  margin: 0px 0px 0px -50px;
  list-style-type: none;
}

.tokyo_tm_portfolio .portfolio_list li {
  margin: 0px 0px 50px 0px;
  float: left;
  width: 30%;
  padding-left: 50px;
  @media (max-width: 576px) {
    margin: 0px 0px 30px 0px;
  }
}

.tokyo_tm_portfolio .portfolio_list li .inner {
  width: 100%;
  height: 100%;
  clear: both;
  float: left;
  overflow: hidden;
  position: relative;
}

.tokyo_tm_portfolio .portfolio_list li .inner a,
.tokyo_tm_portfolio .portfolio_list li .inner .entry {
  position: relative;
  overflow: hidden;
  &:hover {
    .img {
      transform: scale(1.1);
    }
  }
}

.tokyo_tm_portfolio .portfolio_list li .inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.34);
}

.tokyo_tm_portfolio .absence_portfolio_view li {
  list-style-type: none;
}

.tokyo_tm_portfolio .absence_portfolio_view img {
  margin-left: 17%;
  width: 65%;
  height: 50%;
  padding-bottom: 50px;
  position: relative;
  top: -30px;
}

.absence_title h3 {
  align-items: center;
  padding-left: 42%;
}

.quote_wrapper {
  max-width: 90%;
}
